app = 'retro-search-2-api'
primary_region = 'sin'

[build]

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 1
processes = ['app']

[http_service.checks]
interval = "30s"
timeout = "2s"
grace_period = "5s"
restart_limit = 0
method = "get"
path = "/"
protocol = "http"

[[vm]]
memory = '512mb'
cpu_kind = 'shared'
cpus = 1
memory_mb = 512

[env]
PORT = "3000"
