app = 'retro-search-2-api'
primary_region = 'sin'

[build]

[http_service]
    internal_port = 3000
    force_https = true
    auto_stop_machines = 'stop'
    auto_start_machines = true
    min_machines_running = 0
    processes = ['app']

[[vm]]
    memory = '512mb'
    cpu_kind = 'shared'
    cpus = 1
    memory_mb = 512

[env]
    PORT = "3000"
