app = 'retro-search-2-api'
primary_region = 'sin'

[build]

[http_service]
    internal_port = 3000
    force_https = true
    auto_stop_machines = 'stop'
    auto_start_machines = true
    min_machines_running = 0
    processes = ['app']

[[vm]]
    memory = '1gb'
    cpu_kind = 'shared'
    cpus = 1
    memory_mb = 1024

[env]
    PORT = "3000"

[deploy]
    release_command = "bun run db:migrate"
